---
import tagsImage from "@/assets/tags.svg"
import { SITE_TITLE } from "@/lib/constants"
import { getLangFromUrl, useTranslations } from "@/i18n/utils"
import PageHeader from "@/components/PageHeader.astro"
import BaseLayout from "@/layouts/BaseLayout.astro"

const lang = getLangFromUrl(Astro.url)
const t = useTranslations(lang)
---

<BaseLayout
  title={`${t("tags.title")} | ${SITE_TITLE}`}
  description={t("tags.description")}
>
  <main class="mx-auto min-h-screen w-full">
    <PageHeader
      backgroundImage={tagsImage}
      title={t("tags.title")}
      subtitle={t("tags.subtitle")}
    />

    <div class="px-3"></div>
  </main>
</BaseLayout>
