---
import { getLangFromUrl, useTranslations } from "@/i18n/utils"
import Layout from "@/layouts/Layout.astro"

const lang = getLangFromUrl(Astro.url)
const t = useTranslations(lang)
---

<Layout>
  <main
    class="fourofour pointer-events-none mx-auto flex min-h-screen w-full max-w-screen-xl items-center justify-center bg-contain bg-center bg-no-repeat"
  >
    <header>
      <h1 class="font-mono text-3xl lowercase md:text-5xl">
        {t("404.pageNotFound")}
      </h1>
    </header>
  </main>
</Layout>

<style>
  .fourofour {
    background-image: url("../assets/404.svg");
    z-index: -10;
  }
</style>
