---
import { getCollection } from "astro:content"

import BaseLayout from "@/layouts/BaseLayout.astro"

const articles = (await getCollection("articles")).sort(
  (a, b) => b.data.pubDate.valueOf() - a.data.pubDate.valueOf(),
)
---

<BaseLayout>
  <main class="mx-auto flex min-h-screen w-full max-w-screen-xl px-3">
    <ul class="mx-auto mb-10 w-full max-w-screen-lg space-y-5">
      {
        articles.map((article) => {
          return (
            <li>
              <a href={`/article/${article.id}`}>
                <h2 class="text-3xl">{article.data.title}</h2>
              </a>

              <p>{article.data.description}</p>
            </li>
          )
        })
      }
    </ul>
  </main>
</BaseLayout>
